<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib/vue.js"></script>
    <style>
        .a {
            background-color: red;
        }
    </style>

</head>

<body>
    <div id="box">
        <ul>
            <li v-for="mydata in list1">{{mydata}}</li>
        </ul>
        <ul>
            <li v-for="(isdata,isindex) in islist" :key='isindex' @click="myClick(isindex)"
                :class="isindex==current?'a':' '">{{isdata.name}}</li>
            <!-- key的作用主要是为了高效的更新虚拟DOM。
            另外vue中在使用相同标签名元素的过渡切换时，也会使用到key属性，其目的也是为了让vue可以区分它们，
            否则vue只会替换其内部属性而不会触发过渡效果。 -->
        </ul>
    </div>

    <script>
        new Vue({
            el: "#box",
            data: {
                list1: ['q', 'w', 'e', 'r', 't'],
                islist: [
                    { name: '张三' },
                    { name: '李四' },
                    { name: '王五' },
                    { name: '赵六' },
                ],
                current: 0
            },
            methods: {
                myClick(value) {
                    this.current = value
                }
            },
        })
    </script>
    <!-- JS操作真实DOM！
    用我们传统的开发模式，原生JS或JQ操作DOM时，浏览器会从构建DOM树开始从头到尾执行一遍流程。
   在一次操作中，我需要更新10个DOM节点，浏览器收到第一个DOM请求后并不知道还有9次更新操作，
 因此会马上执行流程，最终执行10次。
例如，第一次计算完，紧接着下一个DOM更新请求，这个节点的坐标值就变了，前一次计算为无用功。
计算DOM节点坐标值等都是白白浪费的性能。即使计算机硬件一直在迭代更新，频繁操作还是会出现页面卡顿，影响用户体验。

 为什么需要虚拟DOM，它有什么好处?
    Web界面由DOM树(树的意思是数据结构)来构建，当其中一部分发生变化时，其实就是对应某个DOM节点发生了变化，
    虚拟DOM就是为了解决浏览器性能问题而被设计出来的。
  如前，若一次操作中有10次更新DOM的动作，虚拟DOM不会立即操作DOM，而是将这10次更新的diff内容保存到本地一个JS对象中，
 最终将这个JS对象一次性渲染到DOM树上，再进行后续操作，避免大量无谓的计算量。
  所以，用JS对象模拟DOM节点的好处是，页面的更新可以先全部反映在JS对象(虚拟DOM)上，
 操作内存中的JS对象的速度显然要更快，等更新完成后，再将最终的JS对象映射成真实的DOM，交由浏览器去绘制。

Diff操作
    在实际代码中，会对新旧两棵树进行一个深度的遍历，每个节点都会有一个标记。
    每遍历到一个节点就把该节点和新的树进行对比，如果有差异就记录到一个对象中。


1.节点类型变了，例如下图中的P变成了H3。
2.节点类型一样，仅仅属性或属性值变了,不会触发节点卸载和装载，而是节点更新。
3.文本变了，文本对也是一个Text Node，也比较简单，直接修改文字内容就行了。 -->
</body>

</html>